*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f2f2f2;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
}

.grid{
    width: 90%;
    max-width: 1200px;
    margin: 20px 0;
    min-height: 90vh;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 1fr auto auto;
    gap: 20px;

    .titulo{
        font-size: 30px;
    }
}

header{
    grid-column: 1/-1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;

    .nombre{
        font-size: 40px;
        font-weight: 700;
    }

    .texto{
        font-size: 20px;

        &:hover{
            text-decoration: underline;
            cursor: pointer;
        }
    }
}

.hero{
    background: #CCCCCC;
    background: linear-gradient(90deg,rgba(204, 204, 204, 1) 0%, rgba(8, 13, 13, 1) 95%);
    grid-column: 1/-1;
    border-radius: 10px;

    display: grid;
    grid-template-columns: 55% 45%;

    .imagen{
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            max-width: 500px;
            max-height: 300px;
        }
    }
}

.proyectos{
    grid-column: 1/-1;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;

    .widget{
        background-color: #ccc;
        min-height: 100px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.preguntas{
    grid-column: 1/-1;

    .pregunta{
        background-color: #ccc;
        border-radius: 10px;
        display: flex;
        flex-direction: column;

        &.black{
            background-color: #000111;
            color: white;
        }
    }
}

footer{
    grid-column: 1 / -1;
    padding: 40px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #929292;
    font-size: 30px;
}